/*********************************************TAGS******************************************************************8*/

body {
    text-align: center;
}
h3 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 45px
}
h4,h3 {
/*    font-family: 'Montserrat', sans-serif !important;*/
    font-size: 1.7rem;
}
p {
    color: #fff;
}

/*HEADINGS*/

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}
i {
    color: #6D4FDC;
    font-size: 5rem;
}
.icon {
    color: #6D4FDC;
    margin-bottom: 1rem;
    margin-top: 2rem
}
.icon:hover {
    color: #800080;
    /*    font-size: 100px;*/
}
.feature-box {
    padding: 3%;
    text-align: center;
}
.container-fluid {
    padding: 4% 8%;
    padding-bottom: 10%;
    background-color: #6D4FDC; 
}

/*Download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/******************************************Navigation bar**********************************************************/
.my-custom{
    background-color: #6d4fdc;
    padding: 2% 10%;
}

.navbar {
    padding-bottom: 5rem;
}
.sticky {
    position: fixed
}
.navbar-brand {
    font-family: 'PT Serif', serif;
    font-size: 2.3rem;
    font-weight: bold;
}

/********************************************************Title_ ***************************************************/

#title {
    background-color: #6D4FDC;
    color: #fff;
/*    position: relative;*/
    text-align: left;
/*    position: relative;*/
/*    top: 0*/
}

/**********************************************FEATURES*****************************************************************/

#features {
    padding: 7% 20%;
    text-align: center;
    background-color: white;
    position: relative;
}

/***************************************************TESTIMONIAL SECTION****************************************/

#testimonials {
    background-color: #6D4FDC;
    color: #fff;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 10%;
}
.testimonial-text {
    font-size: 2rem;
}

/***************************************************Press****************************************/

#press {
    background-color: #6D4FDC;
    padding-bottom: 3%;
}
/*
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
*/

/***************************************************Pricing****************************************/

#pricing {
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}
.dog-image {
    width: 90px;
    ;
    border-radius: 100%;
    height: 70px;
}
.tp {
    height: 100px;
    width: 100px;
    border: solid;
}
.price-text {
    font-size: 2rem;
    line-height: 1.5;
}

/***************************************************Media query****************************************/

@media (max-width:1028px) {
    
    #title {
        text-align: center;
    }
}

/***************************************************Call to action****************************************/

#cta {
    background-color: #6D4FDC;
    padding: 3% 15%;
}
#cta1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7rem;
    line-height: 1.5;
    color: #fff;
}
button {
    padding: 20px;
}

/*footer*/

#footer {
    padding: 2% 8%;
    color: black;
    /*    font-weight: 100;*/
    background-color: #6D4FDC;
}
#cta2 {
    position: relative;
    /*    bottom: 10%*/
    /*    margin:  2% 10%;*/
}
.counter {
    font-size: 20px;
    margin: 10px;
    font-weight: 500
}
.earth {
    position: absolute;
    /*    padding-bottom: 50px;*/
    bottom: 2%;
    height: 150%;
    width: 80%;
    /*    top: 5%;*/
}
.corona {
    padding-top: 30px;
    padding-bottom: 0;
    position: absolute;
    position: absolute;
    left: 30%;
    width: 60%;
    /*    transform: rotate(25deg);*/
    top: 10px;
}
#Current {
    padding-top: 5%;
    padding-bottom: 5%
}
.footer-text {
    color: black
}
a {
    color: white;
}
a:hover {
    color: yellow
}
#Covid {
    position: relative;
    padding: 4% 10%;
}
#bg {
    font-family: 'PT Serif', serif;
    background-color: #6D4FDC;
    padding: 2%;
    color: #fff
}
.caption {
    /*
    color:black;
    border-radius: 100%;
     text-align: center;
    position: relative;
    top: 15%;
    left: 19%;
    display: inline-block;
    letter-spacing: 10px;
    background-color: black;
   padding: 40px;
    opacity: 0.85;
*/
    position: relative;
    padding: 2% 10%;
    text-align: center
}
.img1 {
    border-radius: 25%;
   
        
}
.p1 {
    color: white;
    position: relative;
    padding: 0 10%;
    font-size: 1.3rem
}
.pur {
    padding: 2% 7.5%;
    font-family: 'PT Serif', serif;
    background-color: #9370DB;
}
.i{
    color: black
}
.col-lg-6{
    text-align: center
}
.p2{
    color: black
}
.healthdiv{
     background-color: #6d4fdc !important;
    color: #fff 
}
#health{
    padding: 2% 7.5%;
}
.card-body{
    background-color: #E6E6FA	
}
img{
    border-radius: 10%
}
.card_h{
 height: 800px   
}
.c2{
    height: 320px
}
.card-head{
    height: 100px !important
}
.card-header{
    height: 120px
}
.me{
    color: #fff;
    font-family: 'Kalam', cursive;
}
